In [1]:
import xml.etree.ElementTree as ET

# read XML data
tree = ET.parse('usa_00006.xml')
root = tree.getroot()

variablesToKeep = ['YEAR', 'SUBSAMP', 'SERIAL', 'HHWT', 'STATEFIP', 'COUNTYFIPS',
    'PERNUM', 'PERWT', 'SEX', 'MARST', 'RACE']
variablesCorrection = {
    'HHTYPE': {
        '0': None,
        '9': None
    },
    'REGION': {
        '97': None,
        '99': None
    },
    'OWNERSHP': {
        '0': None
    },
    'AGE': {
        '000': '0',
        '090': '90',
        '100': '100',
        '112': '112',
        '115': '115'
    },
    'SEX': {
        
    },
    'MARST': {
        
    },
    'RACE': {
        
    },
    'STATEFIP': {
        
    },
    'HISPAN': {
        '9': None
    },
    'BPL': {
        '999': None
    },
    'SCHOOL': {
        '0': None,
        '9': None
    },
    'EDUC': {
        '00': None
    },
    'EDUCD': {
        '000': None,
        '001': None,
        '999': None
    },
    'EMPSTAT': {
        '0': None
    },
    'OCC': {
        '999': None
    },
    'OCC1990': {
        '999': None
    },
    'MIGRATE5': {
        '0': None,
        '9': None
    },
    'MIGRATE1': {
        '0': None,
        '9': None
    },
    'MIGPLAC5': {
        '000': None,
        '999': None
    },
    'MIGPLAC1': {
        '000': None,
        '997': None,
        '999': None
    }
}
otherNullValues = {
    'RENT': [0, 1],
    'VALUEH': [9999999],
    'INCTOT': [9999999]
}


convertDict = {}
variablesForSQL = []

data_desc = root.find("{http://www.icpsr.umich.edu/DDI}dataDscr")
for var in data_desc:
    name = var.get('name')

    # will need to adjust
    if name in variablesCorrection:
        convertDict[name] = {}
        variablesForSQL.append(name)
        for category in var.findall("{http://www.icpsr.umich.edu/DDI}catgry"):

            valtag = category.find("{http://www.icpsr.umich.edu/DDI}catValu")
            labtag = category.find("{http://www.icpsr.umich.edu/DDI}labl")

            if valtag is not None and labtag is not None:
                val = valtag.text
                label = labtag.text

                if name in variablesCorrection and val in variablesCorrection[name]:
                    convertDict[name][val] = variablesCorrection[name][val]
                else:
                    pass
                convertDict[name][val] = label
        for val in variablesCorrection[name]:
            convertDict[name][val] = variablesCorrection[name][val]
    # leave variable as is
    elif name in variablesToKeep or name in otherNullValues:
        variablesForSQL.append(name)
    # not using for now
    else:
        continue

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('usa_00006_filtered.csv')
df = df[variablesForSQL]
df['STATEFIP_orig'] = df['STATEFIP']
df['OCC1990_orig'] = df['OCC1990']
df['EDUCD_orig'] = df['EDUCD']
df['OCC_orig'] = df['OCC']
df['BPL_orig'] = df['BPL']

staysNumeric = ['AGE']

In [3]:
for var in convertDict:
    newDict = {}
    if var in staysNumeric:
        newDict = {int(x):int(y) for x, y in convertDict[var].items()}
    else:
        if df[var].dtype == 'int64':
            newDict = {int(x):y for x, y in convertDict[var].items()}
            #df[var].replace()
        if df[var].dtype == 'float64':
            newDict = {float(x):y for x, y in convertDict[var].items()}
    df[var] = df[var].map(newDict)
    
for var in otherNullValues:
    for nullVal in otherNullValues[var]:
        df.loc[df[var] == nullVal, var] = np.nan

In [4]:
df.to_csv('usa00006_processed.csv')

In [5]:
df[df['STATEFIP'] == 'Colorado']['COUNTYFIPS'].value_counts()

0     50505
69     3065
Name: COUNTYFIPS, dtype: int64

In [6]:
df2 = pd.read_csv('usa_00006_filtered.csv')

In [7]:
df2[df2['STATEFIP'] == 8]['COUNTYFIPS'].value_counts()

0     50505
69     3065
Name: COUNTYFIPS, dtype: int64

In [8]:
pd.set_option('display.max_rows', 500)
df2[['STATEFIP','COUNTYFIPS']].drop_duplicates()

         STATEFIP  COUNTYFIPS
0               1          97
4               1           0
9               1          15
17              1          81
26              1          73
30              1           3
57              1          55
115             1         117
47476           2          20
47480           2           0
54095           4          13
54096           4          19
54107           4          27
54113           4           5
54121           4           0
54217           4          25
121109          5           0
121117          5         119
121123          5           7
121164          5         143
121169          5         125
150714          6          59
150716          6          81
150720          6          37
150723          6          61
150726          6          65
150730          6          71
150741          6          97
150748          6          85
150754          6          73
150755          6          13
150756          6           0
150777          6           1
150787          6          31
150788          6           7
150796          6          77
150802          6          25
150815          6          47
150820          6          67
150844          6          75
150848          6          55
150934          6          39
150941          6          17
150951          6          19
150964          6          29
150979          6          89
151038          6          41
151045          6         111
151054          6          83
151081          6          95
151087          6          99
151117          6         113
151301          6          79
151364          6         107
151469          6          87
151693          6          23
525657          8          69
525661          8           0
579227          9           3
579228          9           5
579229          9           1
579238          9           9
579246          9          13
579258          9           7
579271          9          11
579386          9          15
615014         10           3
615015         10           5
615025         10           1
624031         11          10
630641         12         103
630644         12          53
630646         12          61
630652         12          11
630657         12          21
630662         12           9
630664         12         115
630666         12           0
630673         12          57
630690         12          97
630691         12          73
630695         12          33
630696         12         105
630703         12          99
630705         12         117
630710         12          71
630715         12          83
630719         12           1
630724         12          81
630732         12          95
630733         12         111
630766         12          17
630773         12          19
630786         12          31
630875         12         113
630946         12         101
630967         12          91
631001         12          15
631077         12          85
825189         13           0
825194         13          67
825220         13          51
825226         13          73
825233         13         135
825238         13         223
825242         13          97
825258         13         245
825263         13         151
825268         13          45
825308         13         117
825309         13          21
825311         13         113
825381         13         139
825457         13          63
825469         13          57
825485         13         185
825573         13         313
825582         13          15
825895         13          77
825957         13          59
923043         15           3
923045         15           0
923052         15           1
937167         16           0
937257         16          19
952892         17         197
952895         17          31
952899         17          97
952901         17          43
952904         17         179
952905         17           0
952913         17          91
952919         17         119
952941         17         111
952945         17         167
952960         17         143
952967         17         115
952986         17         113
953015         17          89
953148         17          19
953166         17         163
953227         17         161
953311         17          99
953463         17          37
1079534        18          39
1079535        18           0
1079536        18          63
1079541        18          97
1079544        18          95
1079551        18         141
1079552        18           3
1079556        18         127
1079562        18         163
1079566        18          35
1079576        18         157
1079579        18         167
1079602        18         105
1079603        18          19
1079613        18          81
1079645        18          91
1079679        18          89
1145579        19           0
1145589        19         113
1145591        19          13
1145611        19         103
1145698        19         163
1177479        20           0
1177484        20          91
1177495        20          45
1177499        20         209
1206253        21           0
1206255        21         111
1206274        21         117
1206276        21         227
1206281        21          67
1206424        21          15
1251002        22           0
1251009        22          17
1251019        22          71
1251044        22          33
1251058        22          73
1251065        22         103
1251094        22          55
1251117        22         109
1251215        22           5
1294894        23           0
1294922        23          11
1294938        23          19
1294948        23           1
1307953        24          31
1307957        24           0
1307966        24          33
1307968        24           3
1307975        24           5
1308000        24          21
1308057        24         510
1308099        24          25
1308103        24          43
1308112        24          27
1308143        24          17
1308147        24          13
1308191        24          15
1367285        25           0
1367286        25          25
1367359        25           3
1436070        26           0
1436072        26          75
1436079        26         163
1436086        26          65
1436088        26         125
1436091        26         139
1436120        26         121
1436122        26          99
1436140        26         147
1436150        26          21
1436167        26          93
1436203        26         161
1436206        26         115
1436236        26         145
1436280        26          81
1436308        26          77
1436319        26           5
1534078        27         123
1534083        27           0
1534089        27          53
1534091        27          37
1534104        27         163
1534155        27           3
1534192        27         145
1534283        27         109
1534505        27         171
1588889        28           0
1588921        28          59
1588935        28          33
1589025        28          47
1618489        29           0
1618493        29          19
1618497        29         183
1618499        29         189
1618519        29          99
1618524        29          95
1618539        29         510
1618607        29          71
1680075        30           0
1689916        31           0
1689918        31          55
1689945        31         109
1689950        31         153
1709005        32           3
1709008        32          31
1709011        32           0
1735993        33           0
1749371        34          23
1749372        34          13
1749374        34           7
1749377        34          29
1749381        34           3
1749382        34          27
1749384        34          35
1749388        34          21
1749389        34           0
1749390        34           5
1749398        34          39
1749422        34          25
1749424        34          17
1749510        34          15
1749552        34          37
1749576        34          19
1749629        34          31
1749718        34          41
1837186        35           0
1837191        35          49
1837202        35          13
1837226        35          43
1856258        36          61
1856260        36          59
1856266        36          47
1856270        36           0
1856275        36          55
1856287        36         103
1856289        36          29
1856292        36          81
1856296        36          87
1856305        36         109
1856307        36          27
1856322        36           1
1856341        36          89
1856371        36          85
1856375        36          63
1856384        36           5
1856416        36          91
1856430        36          93
1856459        36          83
1856531        36          71
1856642        36          75
1856681        36          13
2052000        37           0
2052003        37         159
2052005        37           1
2052007        37         119
2052008        37         183
2052011        37          63
2052019        37          67
2052023        37          81
2052029        37          35
2052043        37          51
2052045        37          19
2052047        37          71
2052064        37         135
2052105        37         101
2052146        37          21
2052148        37          85
2052243        37          49
2052281        37         191
2052284        37         151
2052351        37          57
2052393        37         147
2150184        38           0
2150259        38          17
2158053        39           0
2158057        39          35
2158063        39         169
2158065        39          41
2158067        39          49
2158084        39          23
2158087        39          89
2158101        39         153
2158110        39         113
2158119        39          93
2158123        39          17
2158124        39          61
2158133        39           7
2158139        39         133
2158161        39           3
2158180        39          29
2158187        39         139
2158196        39         109
2158210        39         103
2158263        39          45
2158332        39          57
2158469        39         165
2276176        40           0
2276181        40         109
2276187        40          17
2276311        40          27
2313427        41          67
2313431        41           0
2313432        41          51
2313434        41          29
2313437        41          39
2313447        41          47
2313458        41           5
2313518        41          17
2313625        41          19
2353419        42         107
2353420        42          29
2353423        42         133
2353425        42           0
2353427        42          27
2353430        42           3
2353434        42          71
2353440        42         129
2353441        42          11
2353446        42          85
2353453        42         101
2353457        42          91
2353489        42          19
2353495        42          43
2353511        42          89
2353517        42          45
2353521        42          17
2353534        42          49
2353602        42          21
2353674        42          75
2353740        42          51
2481564        44           7
2481566        44           0
2481571        44           3
2481577        44           9
2492127        45          91
2492128        45           0
2492130        45          51
2492139        45          83
2492172        45           7
2540150        46           0
2548892        47           0
2548894        47          37
2548896        47          65
2548897        47         157
2548932        47         187
2548959        47         149
2549036        47         189
2549091        47         179
2549106        47         165
2549135        47           9
2614441        48          85
2614444        48         491
2614450        48           0
2614451        48         329
2614453        48         121
2614454        48         201
2614458        48         113
2614462        48         453
2614477        48         439
2614490        48         215
2614504        48          29
2614506        48         355
2614508        48         257
2614512        48          27
2614516        48          39
2614518        48         167
2614521        48         339
2614531        48         245
2614534        48         187
2614572        48         209
2614575        48         309
2614603        48         303
2614624        48          91
2614638        48         441
2614652        48         157
2614661        48          61
2614706        48         141
2614747        48          41
2614766        48         375
2614867        48         423
2614961        48         183
2614965        48         367
2615012        48         479
2615037        48         485
2615058        48         451
2615086        48         251
2615192        48         381
2615302        48         135
2615681        48         139
2873665        49          11
2873669        49           0
2873677        49          49
2873700        49          53
2873704        49          35
2873718        49          57
2902955        50           0
2909281        51           0
2909289        51          13
2909297        51         810
2909305        51         760
2909313        51         650
2909329        51         107
2909355        51         510
2909356        51         550
2909373        51          41
2909378        51          87
2909420        51         700
2992753        53          53
2992756        53          61
2992757        53           0
2992759        53          77
2992763        53          33
2992767        53          11
2992788        53          67
2992795        53          35
2992830        53          63
2992957        53          73
3064557        54           0
3082608        55           0
3082617        55          59
3082619        55         133
3082620        55         101
3082625        55          79
3082637        55          63
3082638        55          25
3082670        55         139
3082681        55         105
3082682        55          87
3082740        55           9
3082789        55         117
3082790        55          73
3082836        55         127
3141186        56           0

In [9]:
df2.iloc[525657:525757]

,YEAR,DATANUM,SERIAL,SUBSAMP,HHWT,HHTYPE,REGION,STATEFIP,COUNTYFIPS,OWNERSHP,...,LABFORCE,OCC,OCC1990,WKSWORK2,INCTOT,FTOTINC,MIGRATE5,MIGRATE1,MIGPLAC5,MIGPLAC1
525657,2015,1,214637,95,156,1,41,8,69,1,...,2,220,22,6,50000,80000,NaN,1,NaN,0
525658,2015,1,214637,95,156,1,41,8,69,1,...,2,4510,458,6,30000,80000,NaN,1,NaN,0
525659,2015,1,214638,33,76,1,41,8,69,1,...,1,2850,183,0,33000,110000,NaN,1,NaN,0
525660,2015,1,214638,33,76,1,41,8,69,1,...,1,430,22,0,77000,110000,NaN,1,NaN,0
525661,2015,1,214639,38,22,0,41,8,0,0,...,2,9820,905,6,25400,9999999,NaN,1,NaN,0
525662,2015,1,214640,25,128,9,41,8,0,2,...,2,430,22,6,22000,22000,NaN,1,NaN,0
525663,2015,1,214640,25,128,9,41,8,0,2,...,2,5810,385,6,27800,22000,NaN,1,NaN,0
525664,2015,1,214641,42,73,1,41,8,0,1,...,1,0,999,0,14900,57050,NaN,1,NaN,0
525665,2015,1,214641,42,73,1,41,8,0,1,...,1,860,24,0,42150,57050,NaN,1,NaN,0
525666,2015,1,214642,80,44,1,41,8,0,1,...,2,430,22,6,75000,76500,NaN,1,NaN,0
525667,2015,1,214642,80,44,1,41,8,0,1,...,1,1010,229,1,1500,76500,NaN,1,NaN,0
525668,2015,1,214643,39,193,1,41,8,0,1,...,2,810,254,6,53200,111200,NaN,1,NaN,0
525669,2015,1,214643,39,193,1,41,8,0,1,...,2,310,17,6,58000,111200,NaN,1,NaN,0
525670,2015,1,214644,43,41,6,41,8,0,1,...,2,10,4,4,45000,45000,NaN,1,NaN,0
525671,2015,1,214645,79,150,1,41,8,0,1,...,2,430,22,6,231000,351000,NaN,1,NaN,0
525672,2015,1,214645,79,150,1,41,8,0,1,...,2,1360,53,6,120000,351000,NaN,1,NaN,0
525673,2015,1,214645,79,150,1,41,8,0,1,...,0,0,999,0,9999999,351000,NaN,1,NaN,0
525674,2015,1,214645,79,150,1,41,8,0,1,...,0,0,999,0,9999999,351000,NaN,1,NaN,0
525675,2015,1,214646,54,78,0,41,8,0,0,...,1,0,999,0,13200,9999999,NaN,1,NaN,0
525676,2015,1,214647,41,84,4,41,8,0,1,...,2,9130,804,6,35000,35000,NaN,1,NaN,0
525677,2015,1,214648,34,365,6,41,8,0,2,...,2,4700,243,6,30000,30000,NaN,1,NaN,0
525678,2015,1,214649,93,77,6,41,8,0,2,...,2,150,33,6,75000,75000,NaN,3,NaN,48
525679,2015,1,214650,44,35,1,41,8,0,1,...,2,4000,436,6,46000,129000,NaN,1,NaN,0
525680,2015,1,214650,44,35,1,41,8,0,1,...,2,3255,95,6,83000,129000,NaN,1,NaN,0
525681,2015,1,214650,44,35,1,41,8,0,1,...,0,0,999,0,9999999,129000,NaN,1,NaN,0
525682,2015,1,214651,84,98,4,41,8,0,2,...,2,430,22,6,62004,62004,NaN,3,NaN,48
525683,2015,1,214652,70,34,1,41,8,0,1,...,2,4760,275,6,38000,49000,NaN,1,NaN,0
525684,2015,1,214652,70,34,1,41,8,0,1,...,1,0,999,0,11000,49000,NaN,1,NaN,0
525685,2015,1,214653,52,61,1,41,8,0,1,...,2,2310,156,6,57000,117000,NaN,1,NaN,0
525686,2015,1,214653,52,61,1,41,8,0,1,...,2,4850,274,6,60000,117000,NaN,1,NaN,0
525687,2015,1,214654,65,22,1,41,8,0,1,...,2,6050,479,6,40000,68000,NaN,1,NaN,0
525688,2015,1,214654,65,22,1,41,8,0,1,...,2,2540,159,3,28000,68000,NaN,1,NaN,0
525689,2015,1,214655,89,79,1,41,8,69,1,...,1,0,999,0,28100,42700,NaN,1,NaN,0
525690,2015,1,214655,89,79,1,41,8,69,1,...,1,0,999,0,14600,42700,NaN,1,NaN,0
525691,2015,1,214656,55,58,1,41,8,0,1,...,2,710,26,6,190000,273000,NaN,1,NaN,0
525692,2015,1,214656,55,58,1,41,8,0,1,...,1,4700,243,0,0,273000,NaN,1,NaN,0
525693,2015,1,214656,55,58,1,41,8,0,1,...,2,4710,243,6,60000,273000,NaN,1,NaN,0
525694,2015,1,214656,55,58,1,41,8,0,1,...,1,0,999,0,3000,273000,NaN,1,NaN,0
525695,2015,1,214656,55,58,1,41,8,0,1,...,2,7200,505,6,20000,273000,NaN,2,NaN,8
525696,2015,1,214656,55,58,1,41,8,0,1,...,0,0,999,0,9999999,273000,NaN,1,NaN,0
525697,2015,1,214656,55,58,1,41,8,0,1,...,0,0,999,0,9999999,273000,NaN,1,NaN,0
525698,2015,1,214656,55,58,1,41,8,0,1,...,0,0,999,0,9999999,273000,NaN,1,NaN,0
525699,2015,1,214656,55,58,1,41,8,0,1,...,0,0,999,0,9999999,273000,NaN,1,NaN,0
525700,2015,1,214657,62,105,4,41,8,0,2,...,2,850,25,4,14000,14000,NaN,2,NaN,8
525701,2015,1,214658,31,104,1,41,8,0,1,...,2,8140,783,6,36000,111000,NaN,1,NaN,0
525702,2015,1,214658,31,104,1,41,8,0,1,...,1,0,999,0,0,111000,NaN,1,NaN,0
525703,2015,1,214658,31,104,1,41,8,0,1,...,2,8965,779,6,75000,111000,NaN,1,NaN,0
525704,2015,1,214658,31,104,1,41,8,0,1,...,0,0,999,0,0,111000,NaN,1,NaN,0
525705,2015,1,214659,69,109,4,41,8,0,2,...,1,0,999,0,8400,8400,NaN,1,NaN,0
525706,2015,1,214660,75,111,1,41,8,0,1,...,2,20,22,6,69000,141500,NaN,2,NaN,8
525707,2015,1,214660,75,111,1,41,8,0,1,...,2,3255,95,6,72500,141500,NaN,2,NaN,8
525708,2015,1,214661,86,52,1,41,8,0,1,...,2,2200,154,4,42000,122500,NaN,1,NaN,0
525709,2015,1,214661,86,52,1,41,8,0,1,...,2,430,22,6,80500,122500,NaN,1,NaN,0
525710,2015,1,214661,86,52,1,41,8,0,1,...,0,0,999,0,9999999,122500,NaN,1,NaN,0
525711,2015,1,214661,86,52,1,41,8,0,1,...,0,0,999,0,9999999,122500,NaN,1,NaN,0
525712,2015,1,214662,4,111,1,41,8,0,1,...,2,9130,804,4,105000,119000,NaN,1,NaN,0
525713,2015,1,214662,4,111,1,41,8,0,1,...,1,7750,785,0,0,119000,NaN,1,NaN,0
525714,2015,1,214662,4,111,1,41,8,0,1,...,2,3640,445,6,14000,119000,NaN,1,NaN,0
525715,2015,1,214662,4,111,1,41,8,0,1,...,0,0,999,0,9999999,119000,NaN,1,NaN,0
525716,2015,1,214663,57,54,6,41,8,0,1,...,1,2310,156,1,11900,11900,NaN,1,NaN,0
525717,2015,1,214664,63,69,0,41,8,0,0,...,1,6230,567,0,4500,9999999,NaN,3,NaN,6
525718,2015,1,214665,71,80,1,41,8,0,1,...,2,1020,229,6,92090,206090,NaN,1,NaN,0
525719,2015,1,214665,71,80,1,41,8,0,1,...,2,1020,229,6,114000,206090,NaN,1,NaN,0
525720,2015,1,214666,45,32,4,41,8,0,1,...,2,4220,453,6,42000,42000,NaN,1,NaN,0
525721,2015,1,214667,30,33,3,41,8,0,1,...,2,120,7,6,43000,67000,NaN,1,NaN,0
525722,2015,1,214667,30,33,3,41,8,0,1,...,2,7510,804,6,24000,67000,NaN,2,NaN,8
525723,2015,1,214667,30,33,3,41,8,0,1,...,2,4700,243,6,23900,23900,NaN,1,NaN,0
525724,2015,1,214668,47,10,1,41,8,0,1,...,2,2040,176,6,50000,50000,NaN,1,NaN,0
525725,2015,1,214668,47,10,1,41,8,0,1,...,1,0,999,0,0,50000,NaN,1,NaN,0
525726,2015,1,214668,47,10,1,41,8,0,1,...,0,0,999,0,9999999,50000,NaN,1,NaN,0
525727,2015,1,214668,47,10,1,41,8,0,1,...,0,0,999,0,9999999,50000,NaN,1,NaN,0
525728,2015,1,214669,8,23,0,41,8,0,0,...,2,4720,276,2,8000,9999999,NaN,2,NaN,8
525729,2015,1,214670,66,91,1,41,8,0,1,...,2,4850,274,3,10000,98000,NaN,1,NaN,0
525730,2015,1,214670,66,91,1,41,8,0,1,...,1,0,999,0,88000,98000,NaN,1,NaN,0
525731,2015,1,214671,1,73,2,41,8,0,1,...,1,0,999,0,16700,28700,NaN,1,NaN,0
525732,2015,1,214671,1,73,2,41,8,0,1,...,1,0,999,0,12000,28700,NaN,1,NaN,0
525733,2015,1,214672,61,71,3,41,8,0,1,...,2,5700,313,6,62000,84000,NaN,1,NaN,0
525734,2015,1,214672,61,71,3,41,8,0,1,...,2,4110,435,4,22000,84000,NaN,1,NaN,0
525735,2015,1,214672,61,71,3,41,8,0,1,...,0,0,999,0,9999999,84000,NaN,0,NaN,0
525736,2015,1,214673,77,75,1,41,8,0,1,...,2,3255,95,6,38000,76000,NaN,2,NaN,8
525737,2015,1,214673,77,75,1,41,8,0,1,...,2,6200,558,6,38000,76000,NaN,1,NaN,0
525738,2015,1,214673,77,75,1,41,8,0,1,...,0,0,999,0,9999999,76000,NaN,1,NaN,0
525739,2015,1,214674,16,270,6,41,8,0,2,...,2,3300,203,6,74000,74000,NaN,1,NaN,0
525740,2015,1,214675,21,171,1,41,8,0,1,...,1,0,999,0,16200,27800,NaN,1,NaN,0
525741,2015,1,214675,21,171,1,41,8,0,1,...,1,0,999,0,11600,27800,NaN,1,NaN,0
525742,2015,1,214676,48,70,1,41,8,0,1,...,2,340,17,6,80004,110604,NaN,1,NaN,0
525743,2015,1,214676,48,70,1,41,8,0,1,...,2,4760,275,2,30600,110604,NaN,1,NaN,0
525744,2015,1,214676,48,70,1,41,8,0,1,...,1,0,999,0,14000,14000,NaN,1,NaN,0
525745,2015,1,214676,48,70,1,41,8,0,1,...,1,0,999,0,15500,15500,NaN,1,NaN,0
525746,2015,1,214677,58,125,1,41,8,0,1,...,1,0,999,0,0,185000,NaN,1,NaN,0
525747,2015,1,214677,58,125,1,41,8,0,1,...,2,1050,64,6,185000,185000,NaN,1,NaN,0
525748,2015,1,214678,67,54,1,41,8,0,1,...,2,3420,678,6,10000,35000,NaN,1,NaN,0
525749,2015,1,214678,67,54,1,41,8,0,1,...,2,9130,804,6,25000,35000,NaN,1,NaN,0
525750,2015,1,214678,67,54,1,41,8,0,1,...,0,0,999,0,9999999,35000,NaN,1,NaN,0
525751,2015,1,214678,67,54,1,41,8,0,1,...,0,0,999,0,9999999,35000,NaN,1,NaN,0
525752,2015,1,214678,67,54,1,41,8,0,1,...,0,0,999,0,9999999,35000,NaN,1,NaN,0
525753,2015,1,214678,67,54,1,41,8,0,1,...,0,0,999,0,9999999,35000,NaN,1,NaN,0
525754,2015,1,214679,56,155,1,41,8,0,1,...,1,50,13,0,30020,48040,NaN,1,NaN,0
525755,2015,1,214679,56,155,1,41,8,0,1,...,1,910,25,0,18020,48040,NaN,1,NaN,0
525756,2015,1,214680,97,146,6,41,8,0,2,...,2,4420,462,6,18700,18700,NaN,2,NaN,8

In [13]:
pd.set_option('display.max_columns', None)
df

         YEAR   SERIAL  SUBSAMP  HHWT                                  HHTYPE  \
0        2015        1       26    48         Married-couple family household
1        2015        1       26    48         Married-couple family household
2        2015        1       26    48         Married-couple family household
3        2015        1       26    48         Married-couple family household
4        2015        2       76    65        Female householder, living alone
5        2015        3        2   148          Male householder, living alone
6        2015        4       92    36         Married-couple family household
7        2015        4       92    36         Married-couple family household
8        2015        4       92    36         Married-couple family household
9        2015        5       81    60          Male householder, living alone
10       2015        6        5   175  Female householder, no husband present
11       2015        6        5   175  Female householder, no husband present
12       2015        6        5   175  Female householder, no husband present
13       2015        6        5   175  Female householder, no husband present
14       2015        7        6    89         Married-couple family household
15       2015        7        6    89         Married-couple family household
16       2015        8        9    12        Female householder, living alone
17       2015        9       94   119         Married-couple family household
18       2015        9       94   119         Married-couple family household
19       2015        9       94   119         Married-couple family household
20       2015        9       94   119         Married-couple family household
21       2015       10       40    90          Male householder, living alone
22       2015       11       87    12         Married-couple family household
23       2015       11       87    12         Married-couple family household
24       2015       11       87    12         Married-couple family household
25       2015       11       87    12         Married-couple family household
26       2015       12       37   170        Female householder, living alone
27       2015       13       12   111         Married-couple family household
28       2015       13       12   111         Married-couple family household
29       2015       13       12   111         Married-couple family household
30       2015       14       98    20                                    None
31       2015       15       20    79         Married-couple family household
32       2015       15       20    79         Married-couple family household
33       2015       15       20    79         Married-couple family household
34       2015       15       20    79         Married-couple family household
35       2015       15       20    79         Married-couple family household
36       2015       16       18    16        Female householder, living alone
37       2015       17       82    92        Female householder, living alone
38       2015       18       85   277          Male householder, living alone
39       2015       19       73   112         Married-couple family household
40       2015       19       73   112         Married-couple family household
41       2015       19       73   112         Married-couple family household
42       2015       19       73   112         Married-couple family household
43       2015       20       32    73        Female householder, living alone
44       2015       21       83    33         Married-couple family household
45       2015       21       83    33         Married-couple family household
46       2015       22       51    26                                    None
47       2015       22       51    26                                    None
48       2015       23       24    20                                    None
49       2015       24       23   112  Female householder, no husband present
50       2015       24       23   112  Female householder, no husband present
51       2015       24       23   112  Female householder, no husband present
52       2015       25        7    85  Female householder, no husband present
53       2015       25        7    85  Female householder, no husband present
54       2015       25        7    85  Female householder, no husband present
55       2015       26       14    43       Male householder, no wife present
56       2015       26       14    43       Male householder, no wife present
57       2015       27        3    59         Married-couple family household
58       2015       27        3    59         Married-couple family household
59       2015       27        3    59         Married-couple family household
60       2015       27        3    59         Married-couple family household
61       2015       27        3    59         Married-couple family household
62       2015       28       10    47         Married-couple family household
63       2015       28       10    47         Married-couple family household
64       2015       28       10    47         Married-couple family household
65       2015       29       53    59        Female householder, living alone
66       2015       30       72    75          Male householder, living alone
67       2015       31       36    65         Married-couple family household
68       2015       31       36    65         Married-couple family household
69       2015       31       36    65         Married-couple family household
70       2015       32       99    68         Married-couple family household
71       2015       32       99    68         Married-couple family household
72       2015       33       15    70         Married-couple family household
73       2015       33       15    70         Married-couple family household
74       2015       33       15    70         Married-couple family household
75       2015       34       22   158        Female householder, living alone
76       2015       35       17    93         Married-couple family household
77       2015       35       17    93         Married-couple family household
78       2015       36       35   690         Married-couple family household
79       2015       36       35   690         Married-couple family household
80       2015       36       35   690         Married-couple family household
81       2015       36       35   690         Married-couple family household
82       2015       37       95    78         Married-couple family household
83       2015       37       95    78         Married-couple family household
84       2015       37       95    78         Married-couple family household
85       2015       37       95    78         Married-couple family household
86       2015       37       95    78         Married-couple family household
87       2015       38       33   133        Female householder, living alone
88       2015       39       38    16                                    None
89       2015       39       38    16                                    None
90       2015       40       25   297        Female householder, living alone
91       2015       41       42    12         Married-couple family household
92       2015       41       42    12         Married-couple family household
93       2015       42       80   123         Married-couple family household
94       2015       42       80   123         Married-couple family household
95       2015       42       80   123         Married-couple family household
96       2015       42       80   123         Married-couple family household
97       2015       43       39   106         Married-couple family household
98       2015       43       39   106         Married-couple family household
99       2015       44       43    90  Female householder, no husband present
100      2015       44       43    90  Female householder, no husband present
101      2015       45       79    61        Female householder, living alone
102      2015       46       54    16         Married-couple family household
103      2015       46       54    16         Married-couple family household
104      2015       47       41   104        Female householder, living alone
105      2015       48       34    87  Female householder, no husband present
106      2015       48       34    87  Female householder, no husband present
107      2015       49       93    56         Married-couple family household
108      2015       49       93    56         Married-couple family household
109      2015       49       93    56         Married-couple family household
110      2015       49       93    56         Married-couple family household
111      2015       50       44    64         Married-couple family household
112      2015       50       44    64         Married-couple family household
113      2015       50       44    64         Married-couple family household
114      2015       51       84    71                                    None
115      2015       52       70    98         Married-couple family household
116      2015       52       70    98         Married-couple family household
117      2015       52       70    98         Married-couple family household
118      2015       52       70    98         Married-couple family household
119      2015       53       52    42         Married-couple family household
120      2015       53       52    42         Married-couple family household
121      2015       53       52    42         Married-couple family household
122      2015       54       65    84                                    None
123      2015       55       89    31  Female householder, no husband present
124      2015       55       89    31  Female householder, no husband present
125      2015       56       55    77        Female householder, living alone
126      2015       57       62    33         Married-couple family household
127      2015       57       62    33         Married-couple family household
128      2015       58       31    16         Married-couple family household
129      2015       58       31    16         Married-couple family household
130      2015       58       31    16         Married-couple family household
131      2015       58       31    16         Married-couple family household
132      2015       58       31    16         Married-couple family household
133      2015       59       69   105         Married-couple family household
134      2015       59       69   105         Married-couple family household
135      2015       59       69   105         Married-couple family household
136      2015       59       69   105         Married-couple family household
137      2015       60       75    46        Female householder, living alone
138      2015       61       86   101         Married-couple family household
139      2015       61       86   101         Married-couple family household
140      2015       62        4    61        Female householder, living alone
141      2015       63       57    16         Married-couple family household
142      2015       63       57    16         Married-couple family household
143      2015       64       63    78          Male householder, living alone
144      2015       65       71    19        Female householder, living alone
145      2015       66       45    69          Male householder, living alone
146      2015       67       30    71        Female householder, living alone
147      2015       68       47    46        Female householder, living alone
148      2015       69        8    54         Married-couple family household
149      2015       69        8    54         Married-couple family household
150      2015       69        8    54         Married-couple family household
151      2015       69        8    54         Married-couple family household
152      2015       70       66    51         Married-couple family household
153      2015       70       66    51         Married-couple family household
154      2015       71        1   210         Married-couple family household
155      2015       71        1   210         Married-couple family household
156      2015       72       61     9          Male householder, living alone
157      2015       73       77   151          Male householder, living alone
158      2015       74       16    34         Married-couple family household
159      2015       74       16    34         Married-couple family household
160      2015       74       16    34         Married-couple family household
161      2015       75       21    78         Married-couple family household
162      2015       75       21    78         Married-couple family household
163      2015       76       48    15         Married-couple family household
164      2015       76       48    15         Married-couple family household
165      2015       76       48    15         Married-couple family household
166      2015       77       58    51                                    None
167      2015       78       67    19         Married-couple family household
168      2015       78       67    19         Married-couple family household
169      2015       79       56   114          Male householder, living alone
170      2015       80       97   212         Married-couple family household
171      2015       80       97   212         Married-couple family household
172      2015       81       91    81        Female householder, living alone
173      2015       82       59   123         Married-couple family household
174      2015       82       59   123         Married-couple family household
175      2015       82       59   123         Married-couple family household
176      2015       82       59   123         Married-couple family household
177      2015       83       46    35                                    None
178      2015       84       29    81         Married-couple family household
179      2015       84       29    81         Married-couple family household
180      2015       85       11    50  Female householder, no husband present
181      2015       85       11    50  Female householder, no husband present
182      2015       86       64   340        Female householder, living alone
183      2015       87       60   225         Married-couple family household
184      2015       87       60   225         Married-couple family household
185      2015       88       28    65                                    None
186      2015       89       88     8                                    None
187      2015       90       96   257  Female householder, no husband present
188      2015       90       96   257  Female householder, no husband present
189      2015       91       49    92  Female householder, no husband present
190      2015       91       49    92  Female householder, no husband present
191      2015       92       90   172         Married-couple family household
192      2015       92       90   172         Married-couple family household
193      2015       92       90   172         Married-couple family household
194      2015       92       90   172         Married-couple family household
195      2015       93        0    48        Female householder, living alone
196      2015       94       27     7         Married-couple family household
197      2015       94       27     7         Married-couple family household
198      2015       95       74   215         Married-couple family household
199      2015       95       74   215         Married-couple family household
200      2015       95       74   215         Married-couple family household
201      2015       95       74   215         Married-couple family household
202      2015       96       78    25          Male householder, living alone
203      2015       97       19   110        Female householder, living alone
204      2015       98       50   142                                    None
205      2015       98       50   142                                    None
206      2015       98       50   142                                    None
207      2015       98       50   142                                    None
208      2015       98       50   142                                    None
209      2015       98       50   142                                    None
210      2015       99       13   172  Female householder, no husband present
211      2015       99       13   172  Female householder, no husband present
212      2015      100       68    50                                    None
213      2015      100       68    50                                    None
214      2015      100       68    50                                    None
215      2015      100       68    50                                    None
216      2015      101       26   122          Male householder, living alone
217      2015      102       76   217          Male householder, living alone
218      2015      103        2    47         Married-couple family household
219      2015      103        2    47         Married-couple family household
220      2015      104       92   133         Married-couple family household
221      2015      104       92   133         Married-couple family household
222      2015      104       92   133         Married-couple family household
223      2015      104       92   133         Married-couple family household
224      2015      104       92   133         Married-couple family household
225      2015      104       92   133         Married-couple family household
226      2015      105       81    17          Male householder, living alone
227      2015      106        5     9         Married-couple family household
228      2015      106        5     9         Married-couple family household
229      2015      106        5     9         Married-couple family household
230      2015      106        5     9         Married-couple family household
231      2015      107        6    64         Married-couple family household
232      2015      107        6    64         Married-couple family household
233      2015      107        6    64         Married-couple family household
234      2015      107        6    64         Married-couple family household
235      2015      108        9    84         Married-couple family household
236      2015      108        9    84         Married-couple family household
237      2015      108        9    84         Married-couple family household
238      2015      108        9    84         Married-couple family household
239      2015      109       94    35         Married-couple family household
240      2015      109       94    35         Married-couple family household
241      2015      110       40   107         Married-couple family household
242      2015      110       40   107         Married-couple family household
243      2015      110       40   107         Married-couple family household
244      2015      110       40   107         Married-couple family household
245      2015      111       87    63                                    None
246      2015      112       37    14          Male householder, living alone
247      2015      113       12    56                                    None
248      2015      114       98   139        Female householder, living alone
249      2015      115       20    56         Married-couple family household
...       ...      ...      ...   ...                                     ...
3146755  2015  1375366       45    79         Married-couple family household
3146756  2015  1375366       45    79         Married-couple family household
3146757  2015  1375366       45    79         Married-couple family household
3146758  2015  1375367       30    60        Female householder, living alone

In [12]:
options(repr.matrix.max.cols=200)

SyntaxError: keyword can't be an expression (<ipython-input-12-9364655ba9a6>, line 1)